
body {
    background: #fdfdfd;
}
header {
    background: black;
}
.navbar-brand span {
    font-weight: bold;
    font-size: 2rem;
    /* background: linear-gradient(90deg, red, purple, blue, green); */
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.card {
    border-radius: 10px;
    }
footer {
    background: black;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    color: white;
    }
.table-wrapper {
  width: 100%;
  overflow-x: auto;  /* umožní horizontální posuvník */
  -webkit-overflow-scrolling: touch; /* plynulejší posun na mobilech */
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; /* nastaví minimální šířku tabulky */
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ccc;
  text-align: left;
  white-space: nowrap; /* zabrání zalomení textu */
}

button.disable {
  background: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

button.disable:hover {
  background: #d32f2f;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
}

.pdf {
    /* border:none;
    display:block;*/
    margin:0 auto;
    width: 10%;

    aspect-ratio: 4/3;

}

.nav-link.active {
  color: #ffd700 !important; /* zlatá pro aktivní položku */
  border-bottom: 2px solid #ffd700;
}

.navbar-text {
    font-weight: 500;
    color: #fff;
}
