{% extends "base.twig" %}

{% block title %}Články{% endblock %}
{% block content %}


    <h1>Informace</h1>
    <!-- sem vypsat php odkazy na všechny články -->
    <p>Tady jsou informace o konferenci.</p>
    <iframe class="pdf" src="{{ uploadPath }}pdf_68cc518a78f8e4.87839195.pdf"></iframe>




    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar. Integer in sapien.
        Nulla justo enim, auctor et, scelerisque sed, est...
    </p>
    <p>
        Aliquam erat volutpat. Praesent in mauris eu tortor porttitor accumsan...
    </p>
{% endblock %}
