{% extends "base.twig" %}

{% block title %}Domů{% endblock %}
{% block content %}


    <h1 class="mb-4">Aktuálně</h1>

    <div class="row g-3 mb-4">
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-primary p-3">
                <p><strong>Lorem</strong> ipsum dolor sit amet...</p>
                <small>12.03.2026</small>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-info p-3">
                <p><strong>Aliquam</strong> erat volutpat...</p>
                <small>23.08.2026</small>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-success p-3">
                <p><strong>Mauris</strong> tincidunt sem arcu...</p>
                <small>10.12.2027</small>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-primary p-3">
                <p><strong>Donec</strong> vitae arcu...</p>
                <small>05.07.2028</small>
            </div>
        </div>
    </div>



    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar. Integer in sapien.
        Nulla justo enim, auctor et, scelerisque sed, est...
    </p>
    <p>
        Aliquam erat volutpat. Praesent in mauris eu tortor porttitor accumsan...
    </p>
{% endblock %}
