{% extends "base.twig" %}

{% block title %}Domů{% endblock %}
{% block content %}


    <h1 id="headlineAnimation" class="mb-4 fade-type">Aktuálně</h1>

    <div class="row g-3 mb-4">
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-primary p-3 h-100 news-card">
            <p>
                    <strong>Výzkum AI v praxi</strong> – Naše poslední práce ukazuje, jak mohou
                    malé vývojářské týmy implementovat modely strojového učení bez zbytečné
                    infrastruktury. Zaměřili jsme se hlavně na aplikace, kde lze využít
                    úsporné architektury a lokální inferenci.
                    <br>
                </p>
                <small>12.03.2026</small>
                <img src="{{ app_base }}/img/AI.jpg" alt="AI">
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-info p-3 h-100 news-card">
                <p>
                    <strong>Bezpečnost webových aplikací</strong> – Publikovali jsme souhrn
                    nejčastějších chyb, které se vyskytují v menších projektech. Nová verze
                    doporučení zahrnuje jednoduché testovací postupy, které může aplikovat
                    i student nebo začínající vývojář.
                    <br>
                </p>
                <small>23.08.2026</small>
                <img src="{{ app_base }}/img/cybSec.jpg" alt="cybersecurity">
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-success p-3 h-100 news-card">
                <p>
                    <strong>Optimalizace výkonu</strong> – Zkoumáme, jaké dopady má kombinace
                    cache, inteligentního routování a adaptivního načítání dat na reálné
                    uživatelské prostředí. Naše testy ukázaly, že i malé úpravy mohou snížit
                    odezvu systému až o 40 %, což přináší dramaticky lepší UX.
                </p>
                <small>10.12.2027</small>
                <img src="{{ app_base }}/img/performance.jpg" alt="performance">
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-primary p-3 h-100 news-card">
                <p>
                    <strong>Budoucnost cloudových služeb</strong> – Věnujeme se tomu, jak se
                    malé firmy mohou vyhnout vendor lock-inu a postupně přejít ze standardních
                    cloudových služeb na vlastní hybridní řešení. Publikovaný dokument obsahuje
                    i srovnání nákladů a doporučené architektury podle velikosti projektu.
                </p>
                <small>05.07.2028</small>
                <img src="{{ app_base }}/img/cloud.jpg" alt="cloud">
            </div>
        </div>
    </div>


    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim odio rhoncus magna mollis porta. Mauris egestas felis sit amet convallis tempus. Mauris eget augue et tortor bibendum semper maximus a mi. Cras sed ullamcorper lorem. Pellentesque tincidunt, magna at bibendum facilisis, eros mauris interdum quam, sit amet consectetur elit leo eget nunc. Etiam dapibus lacinia mauris, ut mollis nisl tempus sit amet. Vestibulum eu scelerisque velit. Praesent efficitur lacus nec posuere cursus.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at neque eget odio vestibulum convallis. Nullam facilisis dui diam, ac aliquam ipsum scelerisque ut. Donec vel erat quam. Nullam et leo et dui fermentum mattis. Etiam nunc nibh, aliquam et viverra et, vestibulum id tellus. Ut lobortis nibh tristique elit lobortis condimentum. Fusce mollis dapibus neque et dictum.Suspendisse tempus aliquam ornare. Aliquam erat volutpat. Maecenas non nunc turpis. Nulla facilisi. Etiam at turpis nisl. Morbi orci purus, mollis a libero vel, volutpat efficitur lorem. Morbi turpis leo, efficitur ut nibh ac, dignissim sagittis orci. Vivamus suscipit quis dolor nec sagittis. Duis a massa in diam maximus pellentesque. Suspendisse vel arcu ac nibh egestas luctus. Sed nec ultricies sem, et laoreet erat. Sed finibus semper varius. Duis et nulla feugiat, placerat est id, fringilla leo. Morbi ut tortor vitae lorem vehicula facilisis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec in lectus vitae nisi maximus sollicitudin. Maecenas vel sollicitudin erat. Vestibulum iaculis tristique vehicula. Duis vel tortor purus. Nunc nec turpis libero. Mauris lobortis nunc sit amet lacus blandit scelerisque sit amet in nunc. Vivamus convallis ipsum et mauris gravida bibendum. Mauris massa orci, vestibulum et mi eu, sagittis feugiat ipsum. Quisque sodales risus placerat, porta leo eget, dictum dui. Aenean quis eros lacinia, molestie est vel, sodales metus.
        Nullam ipsum ante, auctor vitae nunc sit amet, scelerisque pulvinar libero. Nunc leo justo, pellentesque nec consequat ac, consectetur id sem. Sed eleifend placerat consequat. Cras velit tortor, tristique a quam ac, euismod finibus eros. Aliquam nec consectetur nibh. Mauris efficitur sem eget feugiat condimentum. Integer viverra, erat a finibus molestie, nisi quam sagittis lacus, vel facilisis nulla mauris ac ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum congue augue ut sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer pharetra sodales velit, ac facilisis ex bibendum at. Maecenas id tincidunt risus. Aenean eu porttitor metus. Nullam vitae laoreet mauris. Etiam arcu velit, pharetra vel fringilla nec, pharetra et nibh. Cras cursus dapibus felis ut vulputate. Aenean dictum lectus a gravida consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet felis ac ex pellentesque vulputate nec ut mauris. Suspendisse scelerisque tincidunt arcu nec eleifend. Etiam id arcu interdum, pharetra leo a, feugiat ipsum. Donec eget libero a nisl iaculis gravida. Nullam sagittis ultrices velit, quis accumsan arcu aliquet sit amet. Aenean vitae purus auctor, condimentum libero quis, eleifend ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;       Integer ut nibh risus. In gravida blandit erat, ac malesuada tellus congue a. Aenean faucibus tellus eu lacus luctus ultrices. Nunc sit amet neque ut tortor efficitur venenatis. Proin mollis purus eros, nec sollicitudin dolor lobortis vel. Duis congue turpis a libero tempor, in placerat metus fermentum. Praesent efficitur nibh ac nibh elementum, sit amet maximus nisi rutrum. Maecenas maximus nibh vel risus tincidunt, non tempor odio ullamcorper. Sed iaculis, mauris sit amet vestibulum ultrices, lacus orci tincidunt justo, vel consectetur libero sem sed erat. Fusce efficitur, velit dignissim finibus porta, tellus ligula varius tortor, a imperdiet nunc arcu eget velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Maecenas et est vitae diam aliquam condimentum et quis massa. Maecenas interdum fermentum blandit. Praesent est urna, iaculis vel lorem eget, tempor aliquet lectus. Vivamus porttitor scelerisque egestas. Ut porta commodo massa non commodo. Praesent blandit vehicula lectus sit amet feugiat. Ut rutrum posuere odio, quis porta ante euismod nec. Donec in urna quam.
        Suspendisse a neque sagittis, varius elit in, porta ligula. Aliquam non purus elementum turpis blandit condimentum ac in ipsum. Etiam a ultricies tortor, sed aliquam dui. Vivamus non mattis felis, non interdum eros. Sed vulputate ultrices facilisis. Phasellus feugiat, nisi sit amet vulputate ultricies, tellus nunc aliquam dolor, ac laoreet purus est vel lacus. Integer sit amet dui libero. Proin eget libero mattis, pulvinar urna non, dignissim augue. Aliquam commodo nibh quam, venenatis rutrum purus aliquam ultricies. Etiam a fringilla risus, et posuere enim. Phasellus dui neque, tempor sed lobortis tempus, malesuada quis neque. Curabitur at tortor ut ligula lacinia ornare at eu turpis. Aenean erat neque, commodo a nibh eu, porttitor interdum eros. Morbi pharetra nulla non mollis ultrices. m ac hendrerit ultricies, nibh magna congue nisl, quis gravida massa elit quis urna. Duis mattis urna sed convallis varius. Maecenas velit nibh, hendrerit in libero hendrerit, lobortis sollicitudin tortor. Etiam lobortis posuere elit, in luctus nulla aliquam nec. Donec semper diam id nunc tristique, ut gravida mauris hendrerit. Maecenas ultricies leo quam, nec commodo felis condimentum a. In laoreet, neque non euismod fringilla, quam tortor volutpat diam, nec tincidunt nulla est eu erat. Donec augue est, pulvinar eu vestibulum vel, sagittis eu orci. Phasellus nisi turpis, accumsan id efficitur nec, aliquam vitae justo. Praesent tincidunt purus tortor, id vehicula risus elementum sed. Vivamus fermentum eu metus a semper.
    </p>
{% endblock %}
