{% extends "base.twig" %}

{% block title %}Program{% endblock %}
{% block content %}


    <h1 class="mb-4">Program</h1>

    <div class="alert alert-primary d-flex align-items-start">
        <i class="bi bi-clock-history fs-3 me-3"></i>
        <div>
            <h5>Úvodní zahájení</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id sapien…</p>
        </div>
    </div>

    <div class="alert alert-info d-flex align-items-start">
        <i class="bi bi-cpu fs-3 me-3"></i>
        <div>
            <h5>Technologické prezentace</h5>
            <p class="mb-0">Aliquam erat volutpat. Praesent in mauris eu tortor porttitor accumsan…</p>
        </div>
    </div>



{% endblock %}
