{% extends "base.twig" %}

{% block title %}Nastavení účtu{% endblock %}
{% block content %}


    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Login</th>
                <th>Jméno</th>
                <th>Role</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>super</td>
                <td>SUPER_ADMIN</td>
                <td><strong>SuperAdmin</strong></td>
                <td></td>
            </tr>
            <tr>
                <td>malyo</td>
                <td>Olda Malý</td>
                <td><strong>Admin</strong></td>
                <td><button class="disable">Zakázat</button></td>
            </tr>
            <tr>
                <td>krab</td>
                <td>Miroslav Krab</td>
                <td>
                    <select>
                        <option>Recenzent</option>
                        <option>Autor</option>
                    </select>
                </td>
                <td><button class="disable">Zakázat</button></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
